<div class="row">
    <div class="col-md-12">
        <ul class="list">
            <li>
                <a routerLink="fromEvent">from</a>
            </li>
            <li>
                <a routerLink="interval">Interval & Timer</a>
            </li>
            <li>
                <a routerLink="of-from">Of & From</a>
            </li>
            <li>
                <a routerLink="to-array">toArray</a>
            </li>
            <li>
                <a routerLink="custom">Custom Observable</a>
            </li>
            <li>
                <a routerLink="map">Map</a>
            </li>
            <li>
                <a routerLink="pluck">pluck</a>
            </li>
            <li>
                <a routerLink="filter">filter</a>
            </li>
            <li>
                <a routerLink="tap">tap</a>
            </li>
            <li>
                <a routerLink="take">take, takeLast, takeUntil</a>
            </li>
            <li>
                <a routerLink="retry">retry, retryWhen, scan, delay</a>
            </li>
            <li>
                <a routerLink="debounce">debounce</a>
            </li>
            <li>
                <a routerLink="subject">subject</a>
            </li>
            <li>
                <a routerLink="replay-subject">replay-subject</a>
            </li>
            <li>
                <a routerLink="async-subject">async-subject</a>
            </li>
        </ul>
    </div>
</div>