<div class="my-3">
    <h2>Interval</h2>
    <br>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Add Video</div>
                <div class="card-body">
                    <button #addBtn class="btn btn-primary">
                        Start
                    </button>
                    <button (click)="stop()" class="btn btn-primary ml-2">
                        Stop
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">User1</div>
                <div class="card-body">
                    <ul id="elContainer"></ul>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-4">
            <div class="card">
                <div class="card-header">List</div>
                <div class="card-body">
                    <ul id="elContainer2"></ul>
                </div>
            </div>
        </div> -->
    </div>
</div>